
.icon-arrow-down-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/svg/png-grunticon/arrow-down-right.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}


.icon-arrow-up-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/svg/png-grunticon/arrow-up-right.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}

