
.icon-arrow-down-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGFJREFUOI3tzEEOQDAYROEnzsRO6+7O4A5Y21XCtmmEqb+JBbN9mQ9gBDoKzQHTN0H3gyZwfgNsVdALYFAxBdxysDswG4tBXwID6IElAR9jZ6AJS0EzFoN7JR4aYLjoNbAe9j4inN74QCoAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}


.icon-arrow-up-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGhJREFUOI3lzisOwlAUBNCzpCoERVDYv+weWhwKkiYEgXtJ34+rYJKxZ4a6HPDM9IV7pZXNFTdsUdDJ52EI5BsshbqxC9YE6sL2oGYsBzVhJQgeURAMJWjCgrFm9U+hczR0/D0I5ijoDRt7KXPUgy5PAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}

