---
title: "Шаблон страницы"
PixLayout: false
PLimage: "screenshot.png"
PLopacity: 0.6
PLcenter: false
PLtop: 0
PLleft: 0
---

<div class="player" id="js-player">
  <div class="player__controls">
    <a href="##" class="player__control" id="js-player-play">play</a>
    <a href="##" class="player__control" id="js-player-stop">stop</a>
  </div>

</div>