
.icon-arrow-down-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.375%22%20height%3D%2219.376%22%20viewBox%3D%22-42.994%20-37.677%2019.375%2019.376%22%3E%3Cpath%20d%3D%22M-24.12-18.302h-8.484c-.276%200-.5-.224-.5-.5s.224-.5.5-.5h7.278l-17.52-17.52c-.196-.196-.196-.513%200-.708.194-.195.51-.195.706%200l17.52%2017.52v-7.277c0-.276.225-.5.5-.5.14%200%20.264.057.355.147.09.09.146.216.147.354v8.485c0%20.275-.224.5-.5.5v-.002z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.375px;
  height: 19.376px;
}


.icon-arrow-up-right {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219.376%22%20height%3D%2219.375%22%20viewBox%3D%22-23.619%20-18.301%2019.376%2019.375%22%3E%3Cpath%20d%3D%22M-4.245-17.8v8.484c0%20.276-.224.5-.5.5s-.5-.224-.5-.5v-7.278L-22.765.926c-.195.196-.512.196-.707%200-.195-.194-.195-.51%200-.706l17.52-17.52h-7.277c-.275%200-.5-.225-.5-.5%200-.14.058-.264.148-.355.09-.09.216-.146.354-.147h8.485c.276%200%20.5.224.5.5h-.002z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 19.376px;
  height: 19.375px;
}


.icon-play {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22220%20300.001%2040%2040%22%3E%3Cg%20fill%3D%22%23000002%22%3E%3Cpath%20d%3D%22M249.264%20318.642l-11.768-7.705c-.29-.19-.608-.29-.92-.29-.832%200-1.46.678-1.46%201.576v15.555c0%20.9.628%201.576%201.46%201.576.313%200%20.63-.1.92-.29l11.768-7.706c.49-.32.77-.816.77-1.36.002-.54-.28-1.035-.77-1.356zm-11.887%207.798v-12.88l9.835%206.44-9.835%206.44z%22%2F%3E%3Cpath%20d%3D%22M240%20300c-11.028%200-20%208.973-20%2020s8.972%2020%2020%2020%2020-8.97%2020-20-8.972-20-20-20zm0%2037.74c-9.78%200-17.74-7.958-17.74-17.74s7.96-17.738%2017.74-17.738%2017.74%207.958%2017.74%2017.74S249.78%20337.74%20240%20337.74z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}


.icon-stop {
  display: inline-block;
  vertical-align: middle;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22220%20299.999%2040%2040%22%3E%3Cg%20fill%3D%22%23000002%22%3E%3Cpath%20d%3D%22M240%20300c-11.028%200-20%208.97-20%2020%200%2011.027%208.972%2020%2020%2020s20-8.973%2020-20c0-11.03-8.972-20-20-20zm0%2037.738c-9.782%200-17.74-7.958-17.74-17.74%200-9.78%207.96-17.738%2017.74-17.738%209.78%200%2017.74%207.958%2017.74%2017.74%200%209.78-7.958%2017.738-17.74%2017.738z%22%2F%3E%3Cpath%20d%3D%22M246.347%20311.015h-12.694c-1.454%200-2.637%201.183-2.637%202.637v12.694c0%201.454%201.183%202.637%202.637%202.637h12.694c1.454%200%202.637-1.183%202.637-2.637v-12.694c0-1.454-1.183-2.637-2.637-2.637zm.377%2015.33c0%20.205-.173.378-.377.378h-12.694c-.204%200-.377-.173-.377-.377v-12.694c0-.204.173-.377.377-.377h12.694c.204%200%20.377.173.377.377v12.694z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

