/*==========  MEDIA  ==========*/

// for csswizardry grids

// $palm = "(max-width: 759px)"
// $lap  = "(min-width: 760px) and (max-width: 999px)"
// $port = "(max-width: 999px)"
// $desk = "(min-width: 1000px)"

$port = "(max-width: 999px)"

$container_min = 800px
$container_max = 1200px

$desk_offset = 10px
$lap_offset  = 0
$palm_offset = 0

/*==========  TYPE  ==========*/

// font-family
$ff_base = "Helvetica Neue", Helvetica, Arial, sans-serif

// font-size
$fz_base = 14px

$fz_big = 16px
$fz_small = 12px

// line-height
$lh_base = 1.2


/*==========  COLORS  ==========*/

$c_base = #434343
$c_link = #1aa0dd

$c_green = #6ece90

$c_muted = #999

$c_error = #e7293f


// background-color
$bg_base = #fff
$bg_gray = #fafafa

$bd_gray = #e1e1e1

/*==========  Z-INDEXES  ==========*/

$z_base = 10

$z_flights = $z_base

$z_popup = 1000



/*==========  TRANSITIONS  ==========*/

time = .1s


