.flights
  position relative


  &__table
    width 100%
    box-shadow 0 0 1px rgba(0,0,0,.2)
    overflow hidden
    position relative


  &__caption
    font-size 30px
    padding 20px 0
    margin 0
    text-align center
    background #fff

  thead
    background #fff

  td
    text-align left
    position relative



  // columnn highlighting
  td
  th
    position relative

    &:hover
      &:after
        content ''
        position absolute
        box-shadow 0 0 0 1px #434343
        left 0
        right 0
        top -5000px
        height 10000px
        z-index 10
        pointer-events none

  // ie10- doesn't support pointer events
  .lte-ie9 &
  .no-js &
  .ie10 &
    &:after
      display none

  &__head-cell
    display table-cell
    padding 16px 12px
    text-align left
    font-weight 700
    border-bottom 1px solid $bd_gray
    background #fff

  tbody
    overflow hidden
    tr
      position relative

      // background-color #fff

      &:nth-child(odd)
        td
          background #fafafa

      &:hover
        td
          box-shadow 0 1px 0 #434343, inset 0 1px 0 #434343









  // overriding default layout
  &__cell
    padding 8px 12px


    &--type
      width 40px

    &--time
      width 60px

    &--comment
      width 220px



  &__type
    @extends .text-hide


  &__company-logo
    display inline-block
    vertical-align middle
    width 40px
    height 40px
    overflow hidden
    text-decoration none
    margin-right 8px

  &__company
    display inline-block
    vertical-align middle
    max-width 140px

  &__comment
    font-size 12px
    line-height 1
    color $c_muted


  &__fixed
    display table
    table-layout fixed
    width 100%
    position fixed
    top 0
    left 0
    right 0
    z-index 100
    min-width $container_min
    max-width $container_max
    padding-left $desk_offset
    padding-right $desk_offset
    margin-left auto
    margin-right auto
    display none

    &.active
      display block
